nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index:1;
  top: 0;
  padding: 8px;
  padding-right: 25px;
  background-color: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}
nav ul {
  display: flex;
  gap: 8px;
}
nav .logo img {
  width: 110px;
}
nav ul a {
  display: flex;
  /* font-weight: bold; */
  width: 100px;
  align-items: center;
  justify-content: center;
}
nav a {
  list-style: none;
  text-decoration: none;
  color: black;
}
.user-cart {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav a:not(.active):hover {
  background-color: rgba(250, 193, 163, 0.349);
  color: black;
  transition: 0.5s;
}
nav .menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
nav .user-cart .cart {
  display: flex;
}
nav .user-cart .cart p {
  position: absolute;
  right: 140px;
  background-color: rgba(255, 92, 1, 1);
  font-size: 14px;
  border-radius: 15px;
  transition: 0.5s;
  font-weight: bold;
  width: 20px;
  display: flex;
  justify-content: center;
}
.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: white;
  background: rgba(255, 92, 1, 1);
  border: none;
  height: 32px;
  width: 105px;
  border-radius: 8px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  nav {
    height: 40px;
  }
  nav .logo img {
    width: 110px;
  }
  .user-cart {
    position: absolute;
    align-items: center;
    right: 55px;
  }
  nav .menu {
    display: flex;
    position: absolute;
    right: 2%;
  }
  nav ul {
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 180px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    box-shadow: -6px 5px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 30%;
    right: 5px;
  }
  nav ul.open {
    display: flex;
  }
}
