.categories-section {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.services-section {
  margin-top: 50px;
  margin-bottom: 50px;
}
.footer-section {
  background-color: rgb(247, 213, 194);
  padding: 15px;
  border-radius: 25px 25px 0 0;
}
