.categories-section {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.service-section {
  margin-bottom: 50px;
}
.service-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}

.footer-section {
  background-color: rgb(247, 213, 194);
  padding: 15px;
  border-radius: 25px 25px 0 0;
}