@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(255, 251, 243, 1);
  font-family: "Inter", sans-serif;
}
h1 {
  font-size: 60px;
}
.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
span {
  color: rgba(255, 92, 1, 1);
}
.uppercase {
  text-transform: uppercase;
}
.primary-button {
  color: white;
  background: rgba(255, 92, 1, 1);
  border: none;
  height: 32px;
  width: 120px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  h1 {
    font-size: 30px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .banner-section .banner-img img {
    width: 250px;
  }
  .footer-wrapper {
    flex-direction: column;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}
