.menu-banner{
 text-align: center;
 margin-top: 30px;
 margin-bottom: 30px;
}
.menu-banner h1, p{
  margin-bottom: 10px;
}
.menu-banner p{
  color: rgba(85, 85, 85, 1);
}
.menu-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.category-filter{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.category-filter button{
  border: none;
  background: none;
}
.filter{
  margin-top: 80px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.filter-icon{
  display: flex;
  gap: 2px;
  position: absolute;
 top: -280%;
 right: 0.5%;
}
.filter-icon, select{
  background: #000;
  color: white;
  padding: 1px;
}